<div>
    <h2>Cargar producto</h2>
    <form method="post" action="/productos">
    <label>Producto</label>
    <input type="text" name="title">
    <label>Precio</label>
    <input type="text" name="price">
    <label>Imagen</label>
    <input type="text" name="thumbnail">
    <button type="submit">Cargar</button>
    </form>

</div>