<div class="container bg-secondary pb-5">
    <h2>Ingrese el producto</h2>
    <form id="productForm">
        <label>Producto</label>
        <input name="title" id="title"/>
        <label >Thumbnail</label>
        <input name="thumbnail" id="thumbnail">
        <label>Precio</label>
        <input name="price" id="price">
        <button type="submit">Guardar</button>
    </form>
</div>
<div id="productsShow"></div>
<form id="tempForm" class="justify-content-center row container-fluid">
<button type="submit" id="buttonChat" class="btn btn-dark col-auto text-center">Mostrar Chat</button>
</form>
<div id="messagesContainer container"></div>
    <form id="messagesForm" class="d-none">
        <textarea name="message" id="textAreaMessage" class="form-control mx-4 col" ></textarea>
        <button type="submit" class="col">Aceptar</button>
    </form>
    <div id="messagesShow"></div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js" integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>