doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Desafio 5
        link(rel="stylesheet", href="css/style.css")
    include ../views/nav.pug
    body 
        div 
            h2 Cargar producto
            form(method="post", action="/productos")
                label Producto 
                input(type="text", name="title")
                label Precio 
                input(type="text", name="price")
                label Imagen 
                input(type="text", name="thumbnail")
                button(type="submit") Cargar
